<ion-content [fullscreen]="true">

  <div *ngIf="isCardLoad" >
    <ion-img class="image--margin-top" [src]="urlPrefix +'/templates?templateKey='+card!.templateKey+'&type=front'"></ion-img>

    <div class="info-container" >
      <div class="info-item" *ngFor="let field of fields">
        {{field.value}}
      </div>
    </div>

    <div class="footer-button">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3" class="logo-container">
            <ion-img class="logo" src="../assets/icon/logo.png"></ion-img>
            Slird
          </ion-col>
          <ion-col size="9">
            <div class="footer-call-container">
              <div class="footer-title">Guardar contacto</div>
              <div class="footer-paragraph">Si aún no tienes la app descargala aquí</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </div>
</ion-content>
