.image--margin-top {
  margin-top: 10vh;
}

// son 10vh por cada 88px
.info-container {
  width: 100%;
  height: 328px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 3.47vh;
}

.footer-button{
  width: 100%;
  height: 64px;
  border-radius: 14px;
  background: #FFF;
  margin-top: 7.16vh;
}


.logo-container{
  color: #1F223E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.logo {
  width: 17.648px;
  height: 25.001px;
  display: inline-block;
}

.footer-call-container{
  border-left: #878787 .5px solid ;
  padding-left: 21px;

  .footer-title {
    color: #0074E7;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
  }

  .footer-paragraph {
    color: #1F223E;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 15px;
  }
}


